  <nav  class="nav-links">
        <ul>
            <li><a href="/">Volver a la página principal</a></li>
            <li><a href="/Y25366">Christian Salinas</a></li>
            <li><a href="/Y18624">Lujan Caceres</a></li>
            <li><a href="/Y12887">Steven Lopez</a></li>
            <li><a href="/3850665">Marcio Saldivar</a></li>
            <li><a href="/info_curso">Información del Curso</a></li>
            <li><a href="/wordcloud">Word Cloud</a></li>
        </ul>
</nav>